.nav1{
    background-color: #B50014 !important;
    height: 93px !important;
}

body, html{
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    color: #fff !important;
    overflow-x: hidden !important;
    background-color: #0D0D0D !important;
}

.bImg{
    width: 177px !important;
    margin-top: 50px !important; 
    z-index: 100 !important;
    margin-left: 200px !important;
}

.navCon{
    width: 100% !important;
    margin: auto !important;
    margin-left:25px !important;
    margin-right: 25px !important;
    background-color: #B50014 !important;
    z-index: 1000 !important;
}

.line1{
    background-color: #252525 !important;
    height: 30px !important
}

.text1{
    color: #fff !important;
    margin-left: 50% !important;
    width: max-content !important;
}

.nav-link{
    font-weight: bold !important;
}

.nav-link{
    color: #fff !important;
    padding: 0 12px 0 12px !important;
}

.slide1{
    height: 100% !important;
}

.slideContent{
    width: 250px !important; 
    text-align: left !important;
    margin-left: 50% !important;
    font-size: 13px !important;
    font-weight: normal !important;
    padding-bottom: 25px !important;
}

.carCap{
    background-color: #0000004D !important;
    width: 629px !important;
    display: flex !important;
    left: 0% !important;
    top: 50px !important;
    bottom: auto !important;
}

.slideCap{
    margin-left: 50% !important;
    width: max-content !important;
    font-weight: 700 !important;
    font-size: 38px !important;
    text-align: left !important;
    padding-top: 25px !important;
}



.bg1{
    background-color: #0D0D0D;
}

.caption1{
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.img2{
    margin: auto;
    display: block;
    margin-top: 100px;
}

.spn1{
    font-size: 22px;
    line-height: 26px;
}

.desc2{
    font-size: 16px; 
    line-height: 24px;
    font-weight: 300px;
    width: 427px;
}

.btns1{
    margin: auto;
    display: block;
    width: max-content;
    margin-bottom: 100px;
}

.btn1{
    border-radius: 50px;
    padding: 10px 50px 10px 50px;
    background-color: #A62120;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
}

.imgHolder1{
    width: max-content;
    margin: auto;
    margin-bottom: 100px;
}

.img3{
    margin: 15px 5px 15px 5px;
}

.bg2{
    height: auto;
    display: flex;
}

.center2{
    width: max-content;
    display: flex;
    background-color: #A62120;
}


.subCenter1{
    margin: auto;
    display: block;
    width: max-content;
    margin-top: 15%;
    margin-bottom: 75px;
}

.btn2{
    color: #000;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 55px 10px 55px;
    border: 1px solid #A62120;
    margin-top: 30px;
}

ul li {
    margin: 5px;
}

.btn1:hover{
    background-color: #fff;
    color: #A62120;
}

.btnSlider{
    width:11px !important;
    height: 11px !important;
    border-radius: 50% !important;
    background-color: #fff !important;
    color: #fff !important;
    opacity: 1 !important;
    margin: 0 10px 0 10px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border: 1px solid #000 !important;
}



.active{
    background: #A62120 !important;
    color: #A62120 !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    border: 1px solid #000;
}

.d{
    background-color: #0D0D0D;
}

.center1{
    margin: auto;
    display: block;
    width: max-content;
    margin-top: 100px;
}

.row{
    width: 100% !important;
}

.img4{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.spn3{
    width: 652px;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 200px;
}

.c{
    margin: auto;
    display: block;
    width: max-content;
}

.spn4{
    width: max-content;
    margin-top: 100px;
    font-size: 22px;
}

.spn2{
    font-size: 32px;
}

.l1{
    height: 1px;
    border-top: 1px dotted #fff;
    background-color: #0D0D0D;
}

.img5{
    margin-top: -50px !important;
    min-width: 65px !important;
    max-width: 100px !important;
}

.brathLogo{
    width: 100% !important;
    margin: auto;
    display: block;
}

.chicken{
    margin-top: 75px;
    margin: auto;
    width: 100% !important;
    display: flex;
    margin-bottom: 150px !important;
}

.bc{
    display: flex;
    margin:  auto;
    margin-bottom: 100px;
    text-align: center;
}

.img6{
    width: 100%;
}

.p1{
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.l1{
    flex: auto !important; 
}

.img7{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.r{
    background-color: #A62120;
}

.t3{
    font-weight: 300;
    text-align: left;
    width: 431px;
}

.t2{
    font-size: 32px;
    width: max-content;
}

.t4{
    font-size: 22px;
}

.c4{
    margin-top: 5vw;
    margin-left: 100px;
    margin-bottom: 2vw;
    display: block;
    width: max-content;
}

.cap3{
    width: 431px;
}

.bg3{
    background-image: url("mt2.png");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    background-color: #000;
    display: table-cell;
}


.cap5{
    text-align: center;
    font-size: 32px;
    margin: auto !important;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.des{
    margin-top: 100px;
    width: 100%;
}

.des2{
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    max-width: 450px;
}

.bc1{
    margin-top: 100px;
}

.img9{
    margin: auto;
    display: block;
    max-width: 350px !important;
    width: 100% !important;

}

.aus{
    margin: auto !important;
    width: max-content !important;
    display: inline-block !important;
    font-weight: 700;
}

.ds{
    margin: auto;
    display: block;
    width: max-content !important;
    text-align: center !important;
}

.ausDiv{
    display: flex;
}

.p2{
    max-width: 200px !important;
    text-align: center !important;
    margin: auto !important;
}

.hidden{
    display: none !important;
}

.notSoHidden{
    display: block !important;
}


.divv1{
    margin: auto; 
    width:max-content !important; 
    display: block;

}

.n1, .n2, .n3, .n4{
    text-align: center;
    opacity: 0.51;
}

.n1{
    width: 176px;
}

.n2{
    width: 112px;
}

.n3{
    width: 126px;
}

.n4{
    width: 106px;
}


.markers{
    width: 16px !important;
    height: 112px !important;
    margin-right: 10px;
    display: flex;
}

.text2{
    height: 112px !important;
    width: max-content !important;
    line-height: 30px !important;
}


.br2{
    height: 112px !important;
    margin: auto;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.brBase{
    display: block;
}

.gI{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;

}


.gID{
    display: block !important;
    margin: auto;
}

.gI1{
    text-align: center !important;
    height: max-content !important;
    width: max-content !important;
    margin: auto;
    margin-right: 15px;
}

.brD{
    margin: auto !important;
    display: flex;
    width: max-content;
}

.r2{
    background-color: #B50014 !important;
}

.footer{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.t5{
    opacity: 0.5;
    margin: 10px 0 10px 0 !important;
}


.q1{
    width: 429px;
    height: 414px;
    background-color: #292929;

}


.q2{
    width: 80% !important;
    margin: auto !important;
    margin-bottom: 100px !important;
    margin-top: 100px !important;
}


.qI{
    width: 429px !important;
    margin: auto !important;
}


.pI, .nI{
    border: 2px solid #fff !important;
    border-radius: 50% !important;
    padding: 2px !important;
    opacity: 1 !important;
}

.alleD{
    margin: auto !important;
    margin-bottom: 100px !important;
    display: block !;
    width: max-content !important;
}

.alle{
    border-radius: 50px !important;
    background-color: #A62120;
    color: #fff;
    padding: 10px 40px 10px 40px;
    border: 1px solid #fff;
}

.alle:hover{
    background-color: #fff;
    border: 1px solid #A62120;
    color: #A62120;
}

.widthDiv{
    max-width: 80% !important;
    margin: auto !important;
    display: block !important;
}

.pB2, .nB2{
    width: max-content !important;
    height: max-content !important;
    top: 90% !important;
}

.pB2{
    margin-left: 40vw !important;
}

.nB2{
    margin-right: 40vw !important;
}

.carPrev, .carNext{
    border: 1px solid #fff !important;
    border-radius: 50px !important;
}

.pdfIcon{
    display: none !important;
}

